.container__criador{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.criador__titulo{
    font-size: 38px;
    margin-top: 10rem;
}

.criador__titulo-div{
    display: flex;
    text-align: center;
    align-items: center;
}

.criador__titulo-paragrafo{
    font-family: var(--fonte-secundaria);
    font-size: 25px;
    padding: 8rem;
}

.developer__img{
    width: 20%;
    padding: 10rem;
}

.container__criador{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.criador__objetivo-titulo{
    font-size: 38px;
}

.criador__cursos{
    font-size: 38px;
    margin-bottom: 7rem;
}

.lista__cursos{
    font-family: var(--fonte-secundaria);
    font-size: 27px;
    list-style-type: disc;
    margin: 0 0 8rem 0;
}